---
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { SITE } from "@config";
import Projects from "@components/Projects.astro"
---
<Layout title={`Projects | ${SITE.title}`}>
    <Header activeNav="projects" />
    <Main pageTitle="Projects" pageDesc="Just some things I've worked on in the past">
        <Projects />
    </Main>
    <Footer />
</Layout>
  